body {
	margin: 10px;
}
.col {
	float: left;
	width: 25%;
}

.col > div {
	margin: 10px;
}
.col img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: 50% 100%;
	display: block;
}
.col-text > div {
	height: 100px;
	overflow: hidden;
}
.col-text {
	border: 1px solid #ccc;
	background: #eee;
	color: #333;
	border-top: 0;
	padding: 10px;
	text-align: justify;
}
a,
a:visited,
a:focus,
a:active,
a:hover {
	text-decoration: none;
	color: #333;
}
a:hover {
	color: #6a95b7;
}
@media (max-width: 1200px) and (min-width: 800px) {
	.col {
		width: 33%;
	}
}
@media (max-width: 799px) {
	.col {
		width: 50%;
	}
}
@media (max-width: 500px) {
	.col {
		width: 100%;
		max-width: 400px;
		margin: 0 auto;
		float: none;
	}
}
ul.menu {
	padding-left: 10px;
}
ul.menu > li {
	display: inline-block;
	border-right: 1px solid #fff;
	padding: 0;	
	background: #eee;
}
ul.menu > li > a {
  padding: 10px;
  display: inline-block;
}

ul.menu > li.selected-item {
	background: #999;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.gallery-item {
	width: 200px;
	height: 150px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 16px;
	margin-bottom: 16px;
}
.gallery-item img{ 
	width: 100%;
}

.add-item  label{
	display: block;
	line-height: 32px;
}

.add-item  textarea {
	margin-top: 8px;
	height: 100px;
	width: 200px;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid #444;
	padding: 8px;
}